body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body * {
  display: block;
  position: relative;
  width: 100%;
  /* padding: 20px; */
  padding: 0;
  margin:0 auto;
  outline:none;
  border:0px solid transparent;
  box-sizing: border-box;
  font-size: inherit;
  text-align:inherit;
  text-decoration: none;
  color: inherit;
  transition:all 0.2s 0s linear;
  /* background-color: rgb(209, 209, 209); */
  
  /* --theme-primary: #ca9e92;
  --theme-secondary: #92b7ca;
  --theme-deep: #a66155;
  --theme-light: #d0afaf;
  --font-primary: #423230;
  --bg-hover: #00000014; */
  


  --theme-primary: #7c7c7c;
  --theme-secondary: #979797;
  --theme-deep: #484848;
  --theme-light: #3a636a;
  --font-deep: #3f3f3f;
  --font-light: #f4e9bd;
  --bg-color: #646464;
  --bg-hover: #0000005f;
  --point-color: rgb(254, 226, 112);
  
  color: var(--font-deep);
  line-height: 1.8em;
}


::placehoder {
  color: inherit ;
  opacity: 1;
}