body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body * {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  margin:0;
  outline:none;
  border:0px solid transparent;
  box-sizing: border-box;
  font-size: inherit;
  text-align:inherit;
  text-decoration: none;
  color: inherit;
  transition:all 0.2s 0s linear;
  --primary-color: #1a81fd ;
  --secondary-color: #25ebff ;
  --primary-color-2: #0f6dde ;
  --font-primary-color: #2b3238 ;
  --font-secondary-color: #42474c ;
  --font-secondary-color-opacity: #42474c4d;
  --border-color: #ededed ;
  --border-light-color: #0000000d;
  --bg-primary-color: #117af8 ;
  --bg-secondary-color: #3490ff ;
  --bg-card-color: #5928dc;
  --bg-deep-color: #0360cf;
  --bg-deep-color-opacity: #110c2099 ;
  --bg-deep-color-deep-opacity: #000000c4 ;
  --bg-light-color:#d7dae0 ;
  --box-shadow-color: #e8e8f226 ;
  --box-shadow-color-hover: #e8e8f29e ;
  --box--shadow-color-light:#0000001a;
  --box--shadow-color-deep:#00000062;
  
}

::placehoder {
  color: inherit ;
  opacity: 1;
}